<!DOCTYPE html>
<html>
<head>
<title>View Article</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<h2><label>List Articles</label><a href="/create"><button type="button" class="btn btn-primary navbar-right">Add New</button></a></h2>
<hr>

<h3><label>Articale Name :</label></h3>
<p><%= data[0].title %></p>
<h3><label>Artical Body:</label></h3>
<p><%= data[0].title_body %></p>
<hr>
<a href="/"><button class="btn btn-danger">Back</button></a>
</div>
</body>
</html>